.main-header{
    position:fixed;
    display: flex;
    height: 50px;
    background-color: rgb(131, 206, 181);
    align-items: center;
    width: 100%;
    z-index: 100;
}

.main-navigation__drawer-nav {
    height: 100%;
  }

  .main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }
  
  .main-navigation__menu-btn span {
    display: block;
    width: 3rem;
    height: 2.5px;
    background: white;
  }

.product-name {
    text-decoration: none !important;
    padding:5px;
     color: rgb(43, 36, 36);
}

.icons{
    padding:10px;
    position: absolute;
    right:0%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.icons h3{
    margin: 15px;
    color: rgb(43, 36, 36);
}

.modal-button{
    background-color: rgb(131, 206, 181);
    color:white;
    border-radius:20px;
    padding:1px 5px;
}

.user-image{
    margin:5px -10px 0px 10px ;
    height: 40px;
    width:40px;
    border-radius: 25px;
}

@media (min-width: 768px) {
    .main-navigation__menu-btn {
      display: none;
    }
}

@media (max-width:768px){
    .product-name{
        display: none;
    }
}
